@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');

body {
  font-family: 'Uchen', serif;
}
.App{
padding-top: 5%;
padding-bottom: 5%;
}
.Diagonal{
  padding-top: 8%; 
}
.table{
  overflow-x:auto;
}

nav{
  height: auto;
  background-color: #4a568c;
  font-size: 30px;
}
.nav-item{
  color: white;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #04AA6D;} /* Green */
.button2 {background-color: rgb(211, 67, 67);} /* Blue */

.modal-header{
  height: 100px;
}.modal-footer{
  height: 100px;
  background-color: #d5e2e8;
}

table {

  width: 100%;

  border-collapse: collapse;

}

th, td {



  text-align: left;

  border-bottom: 1px solid #ddd;

}

th {
height: 100px;
color: #021842;
font-weight: bolder;
font-size: 24px;


}
td{
  font-size: 18px;
  height: 70px;
}

tr:nth-child(even) {

  background-color: #f2f2f2;

}